.footer {
  border-top: 3px solid #5d5d5d; }

.footer_block {
  display: flex;
  justify-content: space-between; }

.footer_logotype_wrapper {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold; }

.news_logotype {
  display: block; }

.one_logotype {
  color: red;
  display: block; }

.navigation_block .nav_list {
  padding: 0; }

.social_item {
  font-size: 2rem; }
  .social_item .fa {
    text-decoration: none;
    color: black; }

.social_crowd {
  display: flex;
  justify-content: space-between; }

.vertical_item {
  display: block; }

.nav_link_vertical {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  padding: 10px; }

.copyrights {
  padding-top: 40px;
  text-align: center;
  font-size: 0.7rem; }
